.App-link {
  color: #61dafb;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #003272;
  margin-left: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* navbar styling */

.navbar {
  background-color: #eec900;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.navbar h1 {
  margin-left: 1vw;
  color: #003272;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-right: 2vw;
  text-decoration: none;
  padding: 6px;
  color: #003272;
}

.navbar a:hover {
  color: #003272;
}

span {
  margin: 20px;
}

.label {
  display: inline-block;
  width: 120px;
}

.tekst-inleiding {
  display: flex;
  flex-direction: row;
  max-width: 95vw;
  text-align: center;
  margin-left: 2em;
}

.tekst-inleiding img {
  max-width: 45vw;
  margin: 1em 0 0 1em;
}

.tekst-top {
  display: flex;
  flex-direction: row;
  max-width: 98vw;
  margin: 2em 2vw 0 2vw;
  text-align: center;
}

.tekst-top img {
  max-width: 45vw;
  margin-left: 2em;
  margin-bottom: 1em;
}

.tekst-onderzoek {
  display: flex;
  flex-direction: row;
  max-width: 98vw;
  margin-left: 2vw;
  margin-bottom: 2em;
}

.tekst-onderzoek div {
  min-width: 40vw;
}

.tekst-onderzoek div img {
  margin-top: 2em;
  max-width: 45vw;
  margin-left: 2vw;
}

#vraagteken {
  max-width: 10vw;
  max-height: 20vh;
}

#train {
  height: 4em;
  width: 45em;
  margin-top: 5%;
  animation: mymove 10s infinite;
  position: relative;
}

@keyframes mymove {
  0% {
    left: -20%;
  }
  40% {
    left: 40%;
  }
  50% {
    left: 100%;
  }
  80% {
    left: 40%;
  }
  100% {
    left: -120%;
  }
}

#onderzoek-button {
  background-color: #003272;
  border: none;
  padding: 1em;
  border-radius: 1em;
  margin: 2em 0;
}

#onderzoek-button a {
  color: #eec900;
  text-decoration: none;
  font-weight: bold;
}

.conclusie {
  display: flex;
  flex-direction: row;
  max-width: 95vw;
  margin-left: 2vw;
}

.conclusie img {
  max-width: 50vw;
}

.conclusie div:nth-of-type(2) {
  margin-left: 2vw;
}

.gifje {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 95vw;
  padding-left: 2vw;
  margin-bottom: 2em;
}

.gifje img {
  max-width: 50vw;
  margin-right: 2em;
}

.gifje p {
  text-align: center;
  max-width: 32vw;
  margin-bottom: 1em;
}

#p-gif {
  max-width: 60vw;
  margin-left: 2vw;
}

#kopje-gif {
  margin-left: 2vw;
}

#legenda {
  max-width: 15vw;
}

#piechart {
  max-width: 35vw;
  max-height: 30vh;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  background-color: #eec900;
  width: 100%;
}

@media (max-width: 1000px) {
  .tekst-inleiding {
    display: flex;
    flex-direction: column;
    max-width: 95vw;
    margin-left: 2vw;
    text-align: center;
  }
  .tekst-inleiding img {
    max-width: 90vw;
    margin-left: 2vw;
  }

  .tekst-top {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: 2em;
    text-align: center;
  }

  .tekst-top img {
    max-width: 90vw;
    margin: 0;
  }

  .tekst-onderzoek {
    display: flex;
    flex-direction: column;
    max-width: 95vw;
    margin-left: 2vw;
    text-align: left;
    margin-bottom: 2em;
  }

  .tekst-onderzoek div img {
    margin-top: 2em;
    max-width: 90vw;
    margin-left: 2vw;
  }

  .gifje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 95vw;
    padding-left: 2vw;
  }

  .gifje img {
    max-width: 95vw;
  }

  .gifje p {
    text-align: center;
    max-width: 95vw;
  }

  #p-gif {
    max-width: 95vw;
    margin-left: 2vw;
  }

  #piechart {
    max-width: 80vw;
    max-height: 50vh;
  }

  #legenda {
    max-width: 25vw;
  }

  .conclusie {
    display: flex;
    flex-direction: column;
    max-width: 95vw;
    margin-left: 2vw;
  }

  .conclusie img {
    max-width: 95vw;
  }

  .conclusie div:nth-of-type(2) {
    margin-left: 0;
  }
}
